{
    "extends": [
        "stylelint-config-standard"
    ],
    "overrides": [
        {
            "customSyntax": "postcss-styled-syntax",
            "files": [
                "**/*.tsx",
                "**/*.ts"
            ]
        }
    ]
}